.titles{
    display: flex;
    /* justify-content: center; */
    margin: 20px 0px 20px 100px;
}
.modal {
    color: white;
    background-color: transparent;
    backdrop-filter: blur(8px);
    width: 700px;
    height: 700px;
  }
.generalCardsDiv{
    width: 95%;
}
.cardsOverflow{
    display: flex;
    overflow-x: scroll;
    height: 440px;
    padding: 0px;
}
.cardsOverflow:hover::-webkit-scrollbar {
    height: 5px;
    width: 10px;
  }
  .cardsOverflow:hover::-webkit-scrollbar-thumb {
    background-color: rgb(251, 255, 8);
    height: 3px;
    width: 1px;
  }
.cardsStyle{
    background-color: transparent;
    width: 240px;
    height: 400px;
    margin: 0px 0px 0px 40px;
    color: rgb(247, 231, 7);
}
.cardsStyleShips{
    background-color: transparent;
    width: 240px;
    height: 350px;
    margin: 0px 0px 0px 40px;
    color: rgb(247, 231, 7);
}

.dropdown {
    width: 250px;
}
.li::placeholder{
    color: black;
}
.dropdownContent{
    display: flex;
    justify-content: space-between;
}
.modalProperties{
    width: 100px;
    border-left: solid;
    border-left-color: white;
}
.modalPropertiesOverflow{
    display: flex;
    overflow: scroll;
}